# Entornos Virtuales
venv/
env/
ENV/
env.bak/
venv.bak/

# Variables de entorno y secretos
.env
.env.local
.env.*.local

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de la base de datos local (SQLite) si aplica en el futuro
*.sqlite3
*.db

# Editores y herramientas de SO
.vscode/
.idea/
.DS_Store
